/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner */
.bannerExampleCon {
    width: 100%;
    background-color: black;
    display: flex;
}
.bannerExampleCon .col {
    width: 50%;
    color: #fff;
    padding: 0 40px;
}
.bannerExampleCon .slide {
    display: flex;
}

.slide {
    width: 100%;
    padding: 20px 0;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}

.slide p {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(54, 54, 54);
    transition: 0.3s;
}
.slide.active p {
    color: purple;
}
.slide.oneOff p {
    color: rgb(177, 177, 177);
}
.slide.twoOff p {
    color: rgb(126, 126, 126);
}

/* Video */
.videoCol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px !important;
}
.video {
    width: 80%;
    background-color: grey;
    position: relative;
}
.video::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}
.videoInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.videoInner iframe {
    width: 100%;
    height: 100%;
} 